.mn{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.imge{
    border: 5px solid green;
    margin-right: 125px;
    width: 400px;
    height: 400px;
    width: 100%;
}
*{
    background-color: black;
}
.txt{
    color: white;
    text-align: center;
}
.dimg{
    width: 50%;
    margin-left: 25%;
}